<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>119239902833-9l2la4kmqak3hlga2d03efrb1a0g8khu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.119239902833-9l2la4kmqak3hlga2d03efrb1a0g8khu</string>
	<key>API_KEY</key>
	<string>AIzaSyAj-GgUbfr8d86yFZ8G3UkvXPsslgpB-SY</string>
	<key>GCM_SENDER_ID</key>
	<string>119239902833</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutter2</string>
	<key>PROJECT_ID</key>
	<string>readbook-be488</string>
	<key>STORAGE_BUCKET</key>
	<string>readbook-be488.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:119239902833:ios:c872da3a1029619ec13dd0</string>
</dict>
</plist>